<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Registration
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <img id="logo" src="assets/everywhereim-logo.png" alt="everywhereIM-logo">
  
  <ion-grid>
    <ion-row class="ion-align-items-center">
      <ion-col size="12" class="ion-text-center">
        <ion-item lines="none" id="projectTitle" *ngIf="nextOptions == 'previous'">
          <ion-input name="title" [(ngModel)]="title" class="text-input" placeholder="Project Title"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="12" class="ion-text-center">
          <ion-button id="registration-button" href="/registration">Aanmelden</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
