<ion-header>
  <ion-toolbar>
    <ion-title>Instellingen</ion-title>
  </ion-toolbar>
</ion-header>

<img id="logo" src="assets/everywhereim-logo.png" alt="everywhereIM-logo">

<ion-content>
  <img class="icon" id="logo" src="assets/trash-icon.png" (click)="deleteAccount()">
</ion-content>

<ion-tab-bar slot="bottom" color="primary">
  <ion-tab-button tab="tab1" onclick="window.location = 'start';">
    <img class="tab-icon" src="assets/color-palette.webp" alt="everywhereIM-logo">
  </ion-tab-button>

  <ion-tab-button tab="tab2" onclick="window.location = 'users';">
    <img class="tab-icon" src="assets/users.png" alt="everywhereIM-logo">
  </ion-tab-button>

  <ion-tab-button tab="tab3" onclick="window.location = 'settings';">
    <img class="tab-icon" src="assets/settings.png" alt="everywhereIM-logo">
  </ion-tab-button>
</ion-tab-bar>